{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Griz Soccer Analytics</title>
</head>
<body>
<div id="navbar">
    <!--<img src="soclogo.png" alt="griz logo" >-->
    <a href="{% url 'home' %}">HOME</a>
    <a href="{% url 'data' %}">DATA</a>
    <a class="active" href="{% url 'about' %}">ABOUT</a>
    <a href="loginpage.html">LOGIN</a>

</div>

<div class="content">
    <h3>About</h3>
    <p>Developed by Jake Bova, Ian Davison, and Taylor Powell during Fall semester of 2022.
    <br>Trish Duce is the faculty mentor for this project.</p>
</div>


<div class="footer">© 2022 University of Montana Athletics</div>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

</body>
</html>
{% endblock content %}
