{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Griz Soccer Analytics</title>
</head>

<body>


<div id="navbar">
    <!--<img src="soclogo.png" alt="griz logo" >-->
    <a class="active" href="{% url 'home' %}">HOME</a>
    <a href="{% url 'data' %}">DATA</a>
    <a href="{% url 'about' %}">ABOUT</a>
    <a href="loginpage.html">LOGIN</a>

</div>

<div class="content">
    <h3>Griz Soccer Analytics</h3>
    <p>This is a website for the UM Griz Soccer team. Compiled here
    is data from GameTraka vests and our visualizations.
    <br>
    Access schedule, stats, etc. from this website as well
    <br>
    <a href="https://gogriz.com/sports/womens-soccer?path=wsoc">Griz Soccer</a>
<br></p>
</div>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

<div class="footer">© 2022 University of Montana Athletics</div>
</body>
</html>

{% endblock content %}
